<div class="container-fluid col-12 main-wrapper" style="background-color: #edf2f5;margin-top: 57px; padding:0; height:90vh;">
    <div class="row" style="margin: 0">
        <div class="col-12 margin-top45" style="margin-top: 45px;">
            <div class="table-responsive">
                <table class="table col-12 margin-top30" style="margin-top:30px;border: 1px solid #dee2e6;">
                    <?php include '../index.php'; system::printPage($table);?>
                </table>
            </div>
        </div>
    </div>
</div>